<!--订单列表开始-->

<div class="dingdan-list-wrap">
	<div class="dingdan-youhuo">猜你喜欢</div>
	<a href="#" class="dingdan-list-a">
		<div class="dingdan-list">
			<span class="dd-list-icon"></span>
			<div class="dd-list-img">
				<img src="img/5.jpg"/>
			</div>

			<div class="dd-list-right">
				<div class="dd-list-title">华莱士</div>
				<div class="dd-list-description">[重庆等]单人超值套餐，提供免费WiFi</div>
				<div class="dd-list-price">
					<span class="strong">18</span>
					<span class="strong-color">元</span>
					<span class="tag">多优惠+</span>
					<span class="line-right">已售9999</span>
				</div>
			</div>
		</div>
	</a>
</div>
<!--订单列表结束-->