<!--左右独立滑动部分开始-->
<script type="text/javascript">
	var huajscon={
		"美食":{"甜点":11,"可乐":222},
		"看电影":{"门票":22,"免费":333},
		"团购":{"单人团":23,"多人团":45,"学生团":56,"教师团":78,"工人团":89,"博士团":68,"夫妻团":90,"单身团":89,"情侣团":99}
	};

</script>
<div id="wrapper">
	<div id="scroller">
		<ul>
			
		</ul>
	</div>
</div>
<div id="wrapper1">
	<div id="scroller1">
		<div id="scrollin">
		</div>
	</div>
</div>
<script type="text/javascript">

	var myScroll;
	var fragment = document.createDocumentFragment();
	var li = null;
	for(var i in huajscon){
		
		var fragment1 = document.createDocumentFragment();
		var li1 = null;
		
		for(var j in huajscon[i]){
			li1 = document.createElement("li");
			li1.innerHTML = j;
			fragment1.appendChild(li1);
		}
		var ch3 = document.createElement("h3");
		ch3.innerHTML = i;
		divc = document.createElement("div");
		divc.setAttribute("data-name",i);
		divc.appendChild(ch3);
		var ul1 = document.createElement("ul");
		ul1.appendChild(fragment1);
		divc.appendChild(ul1);

		$("#scrollin")[0].appendChild(divc);
		
		
		li = document.createElement("li");
		li.innerHTML = i;
		
		fragment.appendChild(li);
	}
	//console.log($("#scroller"))
	$("#scroller")[0].children[0].appendChild(fragment);
	function loaded () {
		myScroll = new IScroll('#wrapper', { mouseWheel: true,click: true });
	}
	//window.onload = loaded;
	document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

	document.getElementById("scroller").addEventListener("click",function(e){

		console.log(e.target);
	});
	
</script>

<script type="text/javascript">

	var myScroll1;
	var myScroll;
	
	function loaded () {
		myScroll = new IScroll('#wrapper', { mouseWheel: true,click: true });
	}
	//window.onload = loaded;
	document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

	document.getElementById("scroller").addEventListener("click",function(e){

		console.log(e.target);
	});

	function loaded1 () {
		myScroll1 = new IScroll('#wrapper1', { mouseWheel: true });
	}
	window.onload = function(){
		loaded();
		loaded1();
	};
	document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);


</script>
<!--左右独立滑动部分结束-->