<!--轮播开始-->
<div class="login-wrap">

	<div class="login-inner">
		<section id="slider">
			<div class="ui-slider">
				<ul class="ui-slider-content">
					<% for(var a in lunbo) { %>
					<li>
						<a style="background-image:url(<%= lunbo[a].src %>)"></a>
					</li>
					<% } %>
					
				</ul>
			</div>
		</section>

		<script type="text/javascript">
			(function() {
				var slider = new fz.Scroll('.ui-slider', {
					role: 'slider',
					indicator: 'in',
					autoplay: true,
					interval: 3000
				});
			})();
		</script>
	</div>

</div>
<!--轮播结束-->