<!--naviocn开始-->
<div class="navicon-wrap">
	<% for(var a in navicon){ %>
	<a href="#" class="navicon-a">
		<span class="navicon-a-spanimg <%= navicon[a].spanurl %>"></span>
		<span class="navicon-a-spantitle"><%= navicon[a].title %></span>
	</a>
	<% } %>
</div>
<!--naviocn开始结束-->